/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font-family: inherit; */
  vertical-align: baseline;
}

/* Apply box-sizing: border-box to all elements */
* {
  box-sizing: border-box;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove anchor text decoration */
a {
  text-decoration: none;
}

/* Reset heading margins */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Optionally add additional resets based on your needs */
