@import 'react-toastify/dist/ReactToastify.css';

/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font-family: inherit; */
  vertical-align: baseline;
}

/* Apply box-sizing: border-box to all elements */
* {
  box-sizing: border-box;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


.react-toast-notifications__toast__icon{
  margin-top:18px;
}


:root {
  --toastify-color-warning: #fe7171;
  --toastify-color-info: #d7fef1;
  --toastify-text-color-info: #222222;
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-toast-width: 376px;
}

.Toastify__toast {
  border-radius: 13px;
}
.Toastify__toast-body {
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-align: left;
}

.Toastify__toast-icon {
  margin-inline-end: 15px;

  text-align: center;

  /* 17.5px/17.5 (semi) */
  font-family: Work Sans;
  font-size: 17.7px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 158.192% */
}

.Toastify__close-button {
  display: none;
}

/* .Toastify__progress-bar {
  background-color:green;
}*/

/* .Toastify__progress-bar--wrp{
  display: none;
  background-color:green;
} */

/* Toastify__progress-bar--animated Toastify__progress-bar-theme--colored Toastify__progress-bar--success" */